/* Text - Color */

/* KaToRa */
.message-2qnXI6 .avatar-1BDn8e[src*="229911822084472851"]+h2 .username-1A8OIy {
    color: rgb(255, 255, 255) !important;
    transition: filter .1s ease-in-out;
    text-shadow: 0px 0px 5px #7300ff;

}

.message-2qnXI6 .avatar-1BDn8e[src*="229911822084472851"]+h2 .username-1A8OIy:hover {
    filter: drop-shadow(0 0 1px white);
    z-index: 1;
}

/* KaToRa */
[user_by_bdfdb="229911822084472851"],
[data-user-id="229911822084472851"] {
    --users-background: url('https://cdn.discordapp.com/attachments/678590495668043783/879310700940492840/ezgif.com-gif-maker.gif') !important;
    --users-popout: url('https://cdn.discordapp.com/attachments/678590495668043783/879063096684085258/ezgif.com-gif-maker.gif') !important;
}

/* Arx */
[user_by_bdfdb="478954486715514897"],
[data-user-id="478954486715514897"] {
    --users-popout: url('https://cdn.discordapp.com/attachments/732967078079758511/879330454602412092/ezgif.com-gif-maker6.gif') !important;
}

/* Someone */
